/* 
   Eating Well in Season style sheet 
   Filename: styles.css

   Author:   
   Date:     
   HTML5 and CSS3 Illustrated Unit H, Independent Challenge 4
 */

/* reset styles */
html {
   font-size: 20px;
}
a, article, body, div, figcaption, figure, footer, header, h1, 
h2, h3, img, nav, p {
   border: 0;
   padding: 0;
   margin: 0;
}
img {
   max-width: 100%;
   height: auto;
   width: auto;
}

/* body and page container */
body {
   font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
}
.header-nav-container {
   background-color: #526475;
   position: relative;
}
.article-aside-outer-container {
   background-color: #2F5275;
}
.article-aside-inner-container {
   max-width: 800px;
   margin: 0 auto;
   overflow: auto;
   background-color: #ADD2F7;
}
p {
   font-family: Verdana, Geneva, sans-serif;
}

/* skip navigation link */
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}
p.skipnavigation a:focus {
   border: 2px solid black;
   left: auto;
   right: 1em;
   top: 1em;
   background-color: white;
   color: black;
   z-index: 2;
}

/* header section */
header {
   max-width: 800px;
   margin: 0 auto;
   text-align: center;
   background-color: #526475;
   overflow: auto;
}
header h1 {
   width: 60%;
   margin: 8% 3% 0 3%;
   color: rgb(246,224,65);
   font-weight: normal;
   font-size: 2.9em;
   line-height: 0.8em;
   float: right;
}
header div {
   float: left;
   margin: 2% 4% 1%;
   width: 26%;
}

/* site navigation */
nav.sitenavigation {
   max-width: 800px;
   margin: 0 auto;
   background-color: #526475;
   text-align: center;
}
nav.sitenavigation li {
   margin: 0.5em;

   display: inline-block;
   background-color: #526475;
   font-family: Verdana, Geneva, sans-serif;
}
nav.sitenavigation a {
   padding: 0.2em 0.8em;   
   display: inline-block;
}
nav.sitenavigation a:link {
   color: #ADD2F7;
   text-decoration: none;

}
nav.sitenavigation a:visited {
   color: #eee;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
   color: black;
   background-color: #526475;
}
nav.sitenavigation a:active {
   position: relative;
   top: 1px;
   left: 1px;
}

/* main content */
article {
   width: 62.5%;
   padding-top: 2%;
   float: left;
   background-color: #ADD2F7;
}
article h2 {
   margin: 0.4em 0.4em 0;
   font-size: 1.8em;
   font-weight: normal;
}
article h3 {
   margin: 0.4em 0.4em 0;
   color: black;
   font-size: 1.4em;
   font-weight: normal;
}
article div p {
   text-align: center;
   margin-top: 1em;

}
article p {
   margin: 0 1em 0.4em 1.4em;
}

/* sidebar */
aside {
   padding: 2%;
   width: 33.5%;
   float: right;
}
aside h2 {
   padding: 0.4em;
   font-size: 1.8em;
   line-height: 0.8em;
   font-weight: normal;
}
aside p {
   padding-left: 1.4em;
}

/* footer section */
footer {
   padding: 0.6em;
   background-color: black;
   color: floralwhite;
   text-align: center;
   clear: both;
}
footer p {
   margin: 0.4em;
}
.title{
   color: white;
}
.push{
   font-size: x-large;
   padding-left: 8em;
}
.knock{
   padding-left: 1em;
   font-size: x-large;
}
move{
   padding-top: 6em;
}

/* print styles */
@media print {
   article, article h2, aside, body, .container, footer, header, header h1, header p {
      color: rgb(0,0,0);
      background-color: rgb(255,255,255);
   }
   article {
      border-right: 4px solid black;
      width: 60.5%
   }
   body {
      max-width: 100%;
   }
   footer {
      border-top: 4px solid black;
   }
   header {
      border-bottom: 4px solid black;
   }
   nav {
      display: none;
   }

}
@page {
   margin: 1in;
}